@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Somewhere St <br />
    Canoga Park, CA 91303<br />
    <abbr title="Phone">P:</abbr>
    714.603.8749
</address>

<address>
    <strong>Support:</strong> <a href="DavidOh@protonmail.com">DavidOh@protonmail.com</a><br />
</address>
